{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Contact</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/styles.css' %}">
</head>
<body>
    
    <nav>
        <a href="{% url 'portfolio:home' %}"><h3>Home</h3></a>
        <a href="{% url 'portfolio:projects' %}"><h3>Projects</h3></a>
        <a href="{% url 'portfolio:skills' %}"><h3>Skills</h3></a>
        <a href="{% url 'portfolio:contact' %}"><h3>Contact</h3></a> 
    </nav>

    <div class="container">
        <h2>Contact Me</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.message.label_tag }}
                {{ form.message }}
            </div>
            <button type="submit" class="btn-submit">Submit</button>
        </form>
</body>
</html>